/* To-Do Page Layout */
.todo-layout {
    display: flex;
    height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    padding: 30px;
    background-color: #0f172a;
    color: white;
  }
  
  .todo-title {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  
  .add-task-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .task-input {
    width: 85%;
    padding: 20px;
    background-color: #1e293b;
    color: white;
    border: 1px solid #374151;
    border-radius: 5px;
    margin-right: 15px;
  }
  
  .add-task-btn {
    background-color: #4880ff;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
  }
  
  .add-task-btn:hover {
    background-color: #3b67b2;
  }
  
  /* To-Do List */
  .todo-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .task {
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #273142;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    position: relative;
  }
  
  .task.completed {
    background-color: #4880ff;
    text-decoration: none;
  }
  
  input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-right: 15px;
    width: 25px;
    height: 25px;
    background-color: #323D50;
    border-radius: 5px;
    position: relative;
}

.task-checkbox:checked {
    background-color: #4880ff;
    border: 1px solid white;
}

input[type='checkbox']:checked::after {
    
    position: absolute;
    top: 15%;
    left: 30%;
    border-radius: 5px;
    content: "✔";
    color: white;
    font-size: 12px;
}
  .task-text {
    flex-grow: 1;
  }
  
  .task-done {
    color: white;
  }
  
  .task-star {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 25px;
    margin-right: 15px;
  }

  .task-star :hover {
    color: #f59e0b;
  }
  
  .task-star.starred {
    color: #f59e0b;
  }
  
  .task-delete {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
  }
  
  .trash-icon {
    font-size: 25px;
  }

  .trash-icon :hover{
    color: red;
  }
  